<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>

	<%= erb :"jst/_trips_home" %>
	<%= erb :"jst/_trip_individual" %>
  </head>
  <body>
	<h2 class="col-md-12">Trips</h2>
			
	<div id="main-container" class="pull-left col-md-8"></div>
    <div id="map" class="pull-left col-md-4"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="./external/underscore-min.js"></script>
    <script src="./external/backbone-min.js"></script>
	<script src="./external/require.js" data-main="./js/app"></script>
	
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>



// <script type="text/javascript">
//
// $(document).ready(function() {
//
// 	// Clashes with erb otherwise
// 	_.templateSettings = {
// 	    interpolate: /\{\{\=(.+?)\}\}/g,
// 	    evaluate: /\{\{(.+?)\}\}/g
// 	};
//
//
// 	var Type = Backbone.Model.extend({});
// 	var TypesCollection = Backbone.Collection.extend({
// 		model: Type,
// 		getNamesString: function() {
// 			return this.map(function(type) {
// 				return type.get('name');
// 			}).join(', ');
// 		}
// 	});
//
// 	var GooglePlace = Backbone.Model.extend({});
// 	var GooglePlacesCollection = Backbone.Collection.extend({
// 		model: GooglePlace,
// 		getNamesString: function() {
// 			return this.map(function(googlePlace) {
// 				return googlePlace.get('name');
// 			}).join(', ');
// 		}
//
// 	});
//
//
// 	var LocationCoordinates = Backbone.Model.extend({
// 		parse: function(json) {
// 			json.time_visited = new Date(json['time_visited']);
//
// 			json.google_places = new GooglePlacesCollection(json.google_places, {parse: true})
// 			json.types = new TypesCollection(json.types, {parse: true})
// 			return json;
// 		},
// 		toCoordinateString: function() {
// 			return [this.get('lat'), this.get('lng')].join(',');
// 		},
// 		toGoogleMarker: function() {}
// 	});
//
// 	var Trip = Backbone.Model.extend({
// 		url: function() {
// 			return '/api/trips/' + this.get('id') + '/';
// 		},
//
// 		parse: function(json) {
// 			var location_coordinates = _.map(json.location_coordinates, function(location_json) {
// 				return new LocationCoordinates(location_json, {parse: true})
// 			});
//
// 			json.location_coordinates = new Backbone.Collection(location_coordinates);
// 			json.start = json.location_coordinates.first();
// 			json.finish = json.location_coordinates.last()
// 			return json;
// 		}
// 	});
//
// 	var TripCollection = Backbone.Collection.extend({
// 		model: Trip,
// 		url: '/api/trips/'
// 	});
//
// 	var TripListItemView = Backbone.View.extend({
// 		events: {
// 			'click [data-action="navigateToIndividualTrip"]': 'navigateToIndividualTrip'
// 		},
// 		tagName: 'tr',
// 		template: _.template($("#trips-home-table-row").html()),
// 		navigateToIndividualTrip: function() {
// 			var individualTripPath = 'trips/' + this.model.get('id');
// 			Backbone.history.navigate(individualTripPath, {trigger:true});
// 			$('html,body').scrollTop(0);  // Should I really need this?
// 		},
//
// 		render: function() {
// 			this.$el.empty();
// 			this.$el.append(
// 				this.template({
// 					id: this.model.get('id'),
// 					startString: this.model.get('start').toCoordinateString(),
// 					finishString: this.model.get('finish').toCoordinateString(),
// 					totalTime: this.model.get('total_time')
// 				})
// 			);
//
// 			return this;
// 		}
// 	});
//
// 	var TripMapView = Backbone.View.extend({
// 		render: function() {
// 			var map = new google.maps.Map(document.getElementById('map'), {
// 				center: {
// 					lat: this.model.get('start').get('lat'),
// 					lng: this.model.get('start').get('lng')
// 				},
// 				zoom: 13
// 		  });
//
// 		  this.model.get('location_coordinates').each(function(location) {
//
// 			  // TODO look into title vs infowindow. Infowindow may not be the right way to do it.
// 		      var infowindow = new google.maps.InfoWindow({
// 				  content: location.get('google_places').getNamesString() + "<br>" + location.get('types').getNamesString()
// 		      });
//
// 			  var marker = new google.maps.Marker({
// 	  		    position: {
// 	  		    	lat: location.get('lat'),
// 					lng: location.get('lng')
// 	  		    },
// 	  		    map: map,
// 	  		    title: 'A point'
// 	  		  });
//
// 		      google.maps.event.addListener(marker, 'click', function() {
// 		        infowindow.open(map,marker);
// 		      });
//
// 		  });
// 		}
// 	});
//
// 	var TripsHomeView = Backbone.View.extend({
// 		template: _.template($("#trips-home").html()),
//
// 		initialize: function() {
// 			this.trips = new TripCollection();
// 			this.trips.fetch({
// 				success: this.render.bind(this),
// 			});
// 		},
//
// 		render: function() {
// 			this.$el.empty().append(
// 				this.template()
// 			);
//
// 			var self = this;
// 			this.trips.each(function(trip) {
// 				var tripListItemView = new TripListItemView({
// 					model: trip
// 				});
//
// 				self.$('.trips-table tbody').append(tripListItemView.render().$el);
// 			});
//
// 			$('#map').hide();  // Need to remove this since I'm not using map here anymore. Should put that el in the individual view
// 		}
// 	});
//
//
//
// 	var TripIndividualView = Backbone.View.extend({
// 		template: _.template($('#trip-location-coordinates-table').html()), // TODO the main template shouldn't be a table in the long run
//
// 		initialize: function(options) {
// 			this.model = new Trip({
// 				id: options.id
// 			});
//
// 			this.model.fetch({
// 				success: this.render.bind(this)
// 			});
//
// 		},
//
// 		render: function() {
// 			this.$el.empty();
// 			this.$el.append(this.template());
// 			$('#map').show();  // Need to remove this. Reliant of moving the map el out of the home controller
//
// 			var self = this;
//
// 			this.model.get('location_coordinates').each(function(location) {
// 				var locationCoordinatesRow = new LocationCoordinatesRow({
// 					model: location
// 				});
//
// 				this.$('.location-coordinates-table tbody').append(locationCoordinatesRow.render().$el);
// 			});
//
// 			this.mapView = new TripMapView({
// 				model: this.model
// 			});
// 			this.mapView.render();
//
//
//
// 			return this;
// 		}
// 	});
//
// 	var LocationCoordinatesRow = Backbone.View.extend({
// 		tagName: 'tr',
// 		template: _.template($('#trip-location-coordinates-row').html()),
// 		render: function() {
// 			this.$el.empty().append(this.template(this.model.toJSON()));
// 			return this;
// 		}
// 	});
//
// 	var LocationTrackerRouter = Backbone.Router.extend({
// 	    routes: {
// 	        "trips/:id": "trip",
// 	        "": "index"
// 	    },
// 	    index: function() {
// 			var tripsHomeView = new TripsHomeView({
// 				el: $('#main-container')
// 			});
// 	    },
// 	    trip: function(id) {
// 			var tripIndividualView = new TripIndividualView({
// 				el: $('#main-container'),
// 				id: id
// 			});
// 	    },
// 	});
//
// 	router = new LocationTrackerRouter();
//
// 	Backbone.history.start();
// });
//
//
//
//
//     </script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&callback="></script>
  </body>
</html>