<script type="text/html" id="actions-home">
	<h2 class="col-md-12">Actions</h2>
	<div class='actions-filter col-md-12'></div>
	<div class='col-md-8 pull-left'>
		<table class="table actions-table">
			<thead>
				<tr>
					<th class='col-md-1'>Id</th>
					<th class='col-md-1'>User</th>					
					<th class='col-md-1'>Action Type</th>					
					<th class='col-md-2'>Recorded Time Spent</th>
					<th class='col-md-2'>Average Location</th>
					<th class='col-md-2'># GPS Points</th>									
				</tr>				
			</thead>
		<tbody></tbody>
		</table>
	</div>
	<div id="map" class="pull-left col-md-4"></div>	 
</script>

<script type="text/html" id="action-row">
	<td class='col-md-1'>{{= id }} <button class='btn' data-action='navigateToIndividualAction'>View</button></td>
	<td class='col-md-1'>{{= user.get('username') }}</td>	
	<td class='col-md-1'>{{= type.display_name }}</td>
	<td class='col-md-2'>{{= time_taken }} mins</td> 
	<td class='col-md-2'><a href="#" data-action="selectPointOnMap">{{= midpoint.toCoordinateString() }}</a></td>
	<td class='col-md-2'>{{= location_coordinates_count }}</td> 	
	<!-- <td class='col-md-1'><button class='btn' data-action='navigateToIndividualTrip'>View</button></td> -->
</script>

<script type="text/html" id="actions-filter">
	<div class='form-group col-md-1'>
	  <select class="user-selection form-control pull-left">
	    <option value="all_users">All Users</option>
	  </select>
	</div>
	<div class=' form-group col-md-1'>
	  <select class="action-type-selection form-control pull-left col-md-1">
	    <option value="all_types">All Action Types</option>
		<!-- TODO this should be dynamic -->
		<option value="0" {{ if(type_index === 0) { }} selected {{ } }}>Visit</option>
		<option value="1" {{ if(type_index === 1) { }} selected {{ } }}>Travel</option>		
	  </select>
	</div>
</script>
