<script type="text/html" id="trips-home">
     <table class="table trips-table">
		<thead>
			<tr>
				<th class='col-md-1'>Id</th>
				<th class='col-md-3'>Start</th>
				<th class='col-md-3'>End</th> 
				<th class='col-md-1'>Total Time</th>
				<th class='col-md-1'>View Details</th>
			</tr>				
		</thead>
		<tbody></tbody>
     </table>
</script>

<script type="text/html" id="trips-home-table-row">
	<td class='col-md-1'>{{= id }}</td>
	<td class='col-md-3'>{{= startString }}</td>
	<td class='col-md-3'>{{= finishString }}</td> 
	<td class='col-md-1'>{{= totalTime }}</td>
	<td class='col-md-1'><button class='btn' data-action='navigateToIndividualTrip'>View</button></td>
</script>