<script type="text/html" id="trips-home">
     <table class="table trips-table">
		<thead>
			<tr class='col-md-8'>
				<th class='col-md-3'>Start</th>
				<th class='col-md-3'>End</th> 
				<th class='col-md-1'>Total Time</th>
				<th class='col-md-1'>Map</th>
			</tr>				
		</thead>
		<tbody class='col-md-8'></tbody>
     </table>
</script>

<script type="text/html" id="trips-home-table-row">
	<td class='col-md-3'>{{= startString }}</td>
	<td class='col-md-3'>{{= endString }}</td> 
	<td class='col-md-1'>{{= totalTime }}</td>
	<td class='col-md-1'><button class='btn view-map'>View</button></td>
</script>