<script type="text/html" id="trip-individual">
	<h2 class="col-md-12">Trip # {{= id }}</h2>
	<h3 class="col-md-12">User - {{= user.get('username') }}</h3>
	<div class='col-md-8 pull-left'>
	    <table class="table location-coordinates-table">
			<thead>
				<tr>
					<th class='col-md-2'>Lat</th>
					<th class='col-md-2'>Long</th>
					<th class='col-md-2'>Time Visited</th>
					<th class='col-md-2'>Places</th>
					<th class='col-md-2'>Types</th>
				</tr>				
			</thead>
			<tbody></tbody>
	     </table>
	 </div>
	<div id="map" class="pull-left col-md-4"></div>	 
</script>

<script type="text/html" id="trip-location-coordinates-row">
	<td class='col-md-2'>{{= lat }}</td>
	<td class='col-md-2'>{{= lng }}</td>
	<td class='col-md-2'>{{= time_visited }}</td>
	<td class='col-md-2'>{{= google_places.getNamesString() }}</td>
	<td class='col-md-2'>{{= types.getNamesString() }}</td>
</script>