<script type="text/html" id="trip-location-coordinates-table">
     <table class="table location-coordinates-table">
		<thead>
			<tr class='col-md-8'>
				<th class='col-md-3'>Lat</th>
				<th class='col-md-3'>Long</th> 
			</tr>				
		</thead>
		<tbody class='col-md-8'></tbody>
     </table>
</script>

<script type="text/html" id="trip-location-coordinates-row">
	<td class='col-md-3'>{{= lat }}</td>
	<td class='col-md-3'>{{= lng }}</td> 
</script>