<script type="text/html" id="types-home">
	<h2 class="col-md-12">Types</h2>
	<div class="col-md-12">
		<table class="table types-table">
			<thead>
				<tr>
					<th class='col-md-3'>Name</th>
					<th class='col-md-3'>Frequency</th>
				</tr>				
			</thead>
		<tbody></tbody>
		</table>
	</div>
</script>

<script type="text/html" id="type-row">
	<td class='col-md-3'>{{= name }}</td>
	<td class='col-md-3'>{{= frequency }}</td>
</script>